:root {
    box-sizing: border-box;
}
body {
    border: 2px solid gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(204, 204, 204);
}

#boardContainer {
    border: 2px solid black;
    flex: 0 1 auto;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: 500px;
    height: 500px;
}

.cell   {
    border: 2px solid darkgrey;
    gap: 20px;
}

