*{
    border: 3px solid black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    box-sizing: border-box;
}

html {
    border-color: darkorchid;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    border-color: gold;
    background-color: rgb(204, 204, 204);
    height: 101vh;
    width: 100vw;
    max-width: 2560px;
    display: grid;
    grid-template-rows: 2fr 6fr 2fr;
}

main {
    border-color: navy;
    display:grid;
    grid-template-columns: 2fr 6fr 2fr;
}

main > #mainContainer {
    border-color: aqua;
    display: flex;
    flex-direction: column;
}

.sidebar1, .sidebar2 {
    border-color: hotpink;
}




